.bg {
    background-image: url(/Frontend/Image/gambar-1.jpg);
    background-size: cover;
    height: 70%;
}

.bg-2{
    background-image: url(/Frontend/Image/gambar-7.png);
    background-size: cover;
    
}

.np {
    padding-left: 8px;
    padding-right: 0px;
}
.pad {
    margin-top: 15vh;
}

.justify {
    text-align: justify;
}

.im {
    width: 80;
    height: 80;
}

.mbo {
    margin-bottom: 0px;
}
.header {
    padding-top: 20vh;
}

footer {
    background-color: lavender;
}